.loading {
	align-items: center;
	background: rgba(17, 17, 17, 0.88);
	border-radius: 8px;
	backdrop-filter: blur(10px);
	display: flex;
	flex-direction: column;
	height: 512px;
	justify-content: center;
	text-align: center;
	width: 512px;
}

.loader {
	border-radius: 256px;
	border: 10px solid #9945ff;
	height: 256px;
	width: 256px;
}
