@use "../styles/tokens.scss";

.container {
	background: url(tokens.$background-image) no-repeat center center;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.header {
	margin: 0 auto;
	margin-bottom: 32px;
}

.main {
	display: flex;
	justify-content: center;
}
