@use "../../styles/tokens.scss";

.container {
	align-items: center;
	display: flex;
	flex-direction: column;
	width: 100%;
}

.codecontainer {
	margin-bottom: 32px;
}

.instructions {
	margin: 0 0 32px 0;
}
