@use "../../styles/tokens.scss";

.instructionContainer {
	background: tokens.$background-dark-100;
	border-radius: 8px;
	backdrop-filter: blur(10px);
	box-shadow: 0 0 4px tokens.$background-dark-100;
	margin: 16px 0;
	padding: 32px;
	text-align: center;
}

.instruction {
	font-weight: 600;
	line-height: 1.2;
	margin: 0;
}

.step {
	color: tokens.$brand-light-1;
	font-weight: 700;
}
