// design tokens

$grey-100: #111111;
$grey-300: #aaaaaa;
$grey-900: #e1e1e1;

$white: #ffffff;
$brand-light-1: #14f195;

$background-dark-100: rgba(17, 17, 17, 0.8);
$background-success: linear-gradient(
	180deg,
	rgba(0, 237, 38, 0.14) 0%,
	rgba(255, 255, 255, 0) 100%
);

$background-error: linear-gradient(
	180deg,
	rgba(237, 0, 0, 0.14) 0%,
	rgba(255, 255, 255, 0) 100%
);
